@model IEnumerable<DevBol.Presentation.ViewModels.EquipeViewModel>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Sigla)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Uf)
            </th>
                        
            <th>
                @Html.DisplayNameFor(model => model.Escudo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>               
               
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Sigla)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Uf.Sigla)
                </td>

                 <td>                    
                    <img src="/images/@item.Escudo" style="height: 30px; width: 30px" />
                 </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>

                <td class="text-right">
                    <a class="btn btn-warning" asp-controller="Equipe" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam> </a>
                    <a class="btn btn-info" asp-controller="Equipe" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam> </a>
                    <a class="btn btn-danger" asp-controller="Equipe" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam> </a>
                </td>
            </tr>
        }
    </tbody>
</table>
